<!-- 文字提示 fc-tooltip -->
<fc-layoutpanel class="templatefastposition samples">
        <!-- 快速定位 -->
        <fc-layoutcol fcSpans="8.5,1.5" fccontent>
            <fc-title fcLabel="文字提示" fccontent1 fcSubtitle="文字提示组件" fcHasline="false"></fc-title>
            <fc-title fcLabel="何时使用" fccontent1 fcSubtitle="滑入一个提示或图片有提示信息" fcHasline="false"></fc-title>
            <fc-title fcLabel="代码演示" fccontent1 fcHasline="false"></fc-title>
            <fc-layoutpanel fccontent1>
                <!-- 组件内容开始 -->
                <fc-layoutpanel fccontent>
                    <fc-title fcLabel="属性" fcheader fcHasLine="false" fcSize="small"></fc-title>
                    <fc-layoutcol fccontent fcSpans="1,1">
                        <fc-layoutgroup id="basic" fcTitle="基本" fccontent1>
                            <div fccontent>
                                <fc-tooltip fcTitle="这是提示信息" fcPosition="bottomRight">
                                    <a href="https://github.com/panlihai/fcexample" target="_blank" fcContent>
                                        <i class="anticon anticon-github toolbar-control navbar-icon-size"></i>
                                    </a>
                                </fc-tooltip>
                            </div>
                            <fc-adcode fcfooter fcTitle="描述" fcRemark="最基本的用法。"
                             [fcview]="basicview" [fccode]="basicjs">
                            </fc-adcode>
                        </fc-layoutgroup>
                        <fc-layoutgroup id="pitcure" fcTitle="图片" fccontent2>
                            <div fccontent>
                                <fc-tooltip fcTitle="这是提示信息" fcPosition="bottomRight">
                                    <a href="https://github.com/panlihai/fcexample" target="_blank" fcContent>
                                        <i class="anticon anticon-github toolbar-control navbar-icon-size"></i>
                                    </a>
                                </fc-tooltip>
                            </div>
                            <fc-adcode fcfooter fcTitle="描述" fcRemark="滑入图片有提示信息"
                                [fcview]="basicview" [fccode]="basicjs">
                            </fc-adcode>
                        </fc-layoutgroup>
                        <fc-layoutgroup id="text" fcTitle="文字" fccontent1>
                            <div fccontent>
                                <fc-tooltip fcTitle="这是提示信息" fcPosition="bottomRight">
                                     <div fcContent>鼠标滑入我试一下</div>
                                </fc-tooltip>
                            </div>
                            <fc-adcode fcfooter fcTitle="描述" fcRemark="滑入文字有提示信息"
                                [fcview]="textview" [fccode]="basicjs">
                            </fc-adcode>
                        </fc-layoutgroup>
                    </fc-layoutcol>
                </fc-layoutpanel>                  
                <!-- API -->
                <fc-layoutpanel fccontent>
                    <fc-title id="attributesAPI" fcLabel="属性" fcheader></fc-title>
                    <div style="height:450px;" fccontent>
                        <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
                    </div>
                </fc-layoutpanel>
                <fc-layoutpanel fccontent>
                    <fc-title id="eventAPI" fcLabel="事件" fcheader></fc-title>
                    <div style="height:450px;" fccontent>
                        <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
                    </div>
                </fc-layoutpanel>
                <!-- 组件内容结束 -->
            </fc-layoutpanel>    
            <div class="fastposition-content" fccontent2>
                <fc-fastposition [fcLinks]="
                    [
                    {href:'basic','label':'基本'},
                    {href:'pitcure','label':'图片'},
                    {href:'text','label':'文字'},
                    {href:'attributesAPI','label':'属性API'},
                    {href:'eventAPI','label':'事件API'}
                    ]">
                </fc-fastposition>
            </div>
        </fc-layoutcol>
        <!-- 快速定位结束 -->
    </fc-layoutpanel>