<!-- 聊天组件 fc-chat -->
<fc-layoutpanel class="templatefastposition samples">
        <!-- 快速定位 -->
        <fc-layoutcol fcSpans="8.5,1.5" fccontent>
            <fc-title fcLabel="树控件" fccontent1 fcSubtitle="树控件组件" fcHasline="false"></fc-title>
            <fc-title fcLabel="何时使用" fccontent1 fcSubtitle="点击按钮出现点击下拉树" fcHasline="false"></fc-title>
            <fc-title fcLabel="代码演示" fccontent1 fcHasline="false"></fc-title>
            <fc-layoutpanel fccontent1>
            <!-- 组件内容开始 -->
            <fc-layoutpanel fccontent>
                    <fc-title fcLabel="属性" fcheader fcHasLine="false" fcSize="small"></fc-title>
                    <fc-layoutcol fccontent fcSpans="1,1">
                        <fc-layoutgroup id="basic" fcTitle="基本" fccontent1>
                            <div fccontent class="chat_bottom">
                                <fc-chat ></fc-chat>
                            </div>
                            <fc-adcode fcfooter fcTitle="描述" fcRemark="获取焦点" 
                            fcview='<fc-chat></fc-chat>'
                            [fccode]="basicjs"></fc-adcode>
                        </fc-layoutgroup>
                    </fc-layoutcol>
            </fc-layoutpanel>
            <fc-layoutpanel fccontent>
                    <fc-title fcLabel="属性" fcheader fcHasLine="false" fcSize="small"></fc-title>
                    <fc-layoutcol fccontent fcSpans="1,1">
                        <fc-layoutgroup id="send" fcTitle="发送" fccontent1>
                            <div fccontent class="chat_bottom">
                                <fc-chat (fcEvent)="sendEvent($event)"></fc-chat>
                            </div>
                            <fc-adcode fcfooter fcTitle="描述" fcRemark="发送事件" 
                            fcview='<fc-chat (fcEvent)="sendEvent($event)"></fc-chat>'
                            [fccode]="sendjs"></fc-adcode>
                        </fc-layoutgroup>
                        <fc-layoutgroup id="closed" fcTitle="关闭" fccontent2>
                            <div fccontent class="chat_bottom">
                                <fc-chat (fcEvent)="closedEvent($event)"></fc-chat>
                            </div>
                            <fc-adcode fcfooter fcTitle="描述" fcRemark="关闭事件" 
                            fcview='<fc-chat (fcEvent)="closedEvent($event)"></fc-chat>'
                            [fccode]="closedjs"></fc-adcode>
                        </fc-layoutgroup>
                    </fc-layoutcol>
            </fc-layoutpanel>
            <!-- API -->
            <fc-layoutpanel fccontent>
                <fc-title id="attributesAPI" fcLabel="属性" fcheader> </fc-title>
                <div style="height:450px;" fccontent>
                    <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
                </div>
            </fc-layoutpanel>
            <fc-layoutpanel fccontent>
                <fc-title id="eventAPI" fcLabel="事件" fcheader> </fc-title>
                <div style="height:450px;" fccontent>
                    <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
                </div>
            </fc-layoutpanel>
            <!-- 组件内容结束 -->
            </fc-layoutpanel>
            <div class="fastposition-content" fccontent2>
                <fc-fastposition [fcLinks]="
                    [
                    {href:'basic','label':'基本'},
                    {href:'send','label':'发送'},
                    {href:'close','label':'关闭'},
                    {href:'attributesAPI','label':'属性API'},
                    {href:'eventAPI','label':'事件API'}
                    ]">
                </fc-fastposition>
            </div>
        </fc-layoutcol>
        <!-- 快速定位结束 -->
       
       
        
       
    </fc-layoutpanel>